<div class="beloved-tab-content">
    <div class="container">
        <div class="heading">
            Choose your loved one
        </div>
        <div class="d-block mx-md-5">
            <tabs class="choose-tabs">
                <tab tabTitle="Alive">
                    <app-alive (passAlive)="getAlive($event)" [passAliveTo]="passAlive"></app-alive>
                </tab>
                <tab tabTitle="In memory of">
                    <app-memory (passMemory)="getMemory($event)" [passmemoryTo]="passMemory" ></app-memory>
                </tab>
            </tabs>
        </div>
    </div>
</div>
<div class="footer" role="Footer">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center footer-buttons">
            <button class="btn btn-primary btn-help"><span><i class="fa fa-question-circle"></i></span> Help</button>
            <button class="btn btn-primary btn-back" (click)="goToBackStep()"><span><i class="fa fa-chevron-circle-left"></i></span> Back</button>
            <button class="btn btn-primary btn-good" (click)="goToNextStep()">Lets go <span><i class="fa fa-chevron-circle-right"></i></span></button>
        </div>
    </div>
</div>