<div class="footer" role="Footer">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center footer-buttons">
            <button class="btn btn-primary btn-help"><span><img src="./assets/images/help-icon.png" alt="" /></span> Help</button>
            <button class="btn btn-primary btn-back"><span><img src="./assets/images/back-icon.png" alt="" /></span> Back</button>
            <button class="btn btn-primary btn-good">Good to go <span><img src="./assets/images/good-icon.png" alt="" /></span></button>
        </div>
    </div>
</div>