<div class="gift-tab-content">
    <div class="container">
        <div class="heading">
            Select a gif
        </div>
        <div class="human-img text-center">
            <span><img src="assets/images/human-img.png" alt="" /></span>
        </div>
        <div class="d-block px-1 px-md-5 gift-boxs">
            <div class="d-flex flex-wrap">
                <div *ngFor="let content of content; let i = index" class="col-md-4 col-6 px-2" [class.active]="selectedItem == i" (click)="selectedItem=i">
                    <div class="card flex-column align-items-center justify-content-center text-center p-2" [ngStyle]="{'background-color': content.bgcolor}">
                        <div class="flowar"><img src="assets/images/flowar.png" alt="" /></div>
                        <div class="d-block w-100 image">
                            <img src="{{content.image}}" alt={{content.name}} title={{content.name}} />
                        </div>
                        <div class="d-block w-100 name">{{content.name}}</div>
                        <div class="d-inline-block givenow">Give Now £{{content.givenow}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer" role="Footer">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center footer-buttons">
            <button class="btn btn-primary btn-help"><span><i class="fa fa-question-circle"></i></span> Help</button>
            <button class="btn btn-primary btn-back"><span><i class="fa fa-chevron-circle-left"></i></span> Back</button>
            <button class="btn btn-primary btn-good">I'm Happy <span><i class="fa fa-chevron-circle-right"></i></span></button>
        </div>
    </div>
</div>