<!-- Header -->
<app-header></app-header>
<div class="content top-padding tabs-content" role="main">
    <tabs class="tabs">
        <tab tabTitle="Charity">
            <app-charitytab></app-charitytab>
        </tab>
        <tab tabTitle="Beloved">
            <app-belovedtab></app-belovedtab>
        </tab>
        <tab tabTitle="Gift">
            <app-gifttab></app-gifttab>
        </tab>
        <tab tabTitle="Share">
            <app-sharetab></app-sharetab>
        </tab>
        <tab tabTitle="Baraqah">
            <app-baraqahtab></app-baraqahtab>
        </tab>
    </tabs>
</div>