<!-- Header -->
<app-header></app-header>
<div class="content top-padding tabs-content" role="main">
    <div class="tabs">
        <ul class="tabs__tab-bar">
            <li [class]="activeTab == 'Charity' ? 'tabs__tab active': 'tabs__tab '" (click)="setActiveTab('Charity')"> Charity </li>
            <li [class]="activeTab == 'Beloved' ? 'tabs__tab active': 'tabs__tab '" (click)="setActiveTab('Beloved')"> Beloved </li>
            <li [class]="activeTab == 'Gift' ? 'tabs__tab active': 'tabs__tab '"  (click)="setActiveTab('Gift')"> Gift </li>
            <li [class]="activeTab == 'Share' ? 'tabs__tab active': 'tabs__tab '"  (click)="setActiveTab('Share')"> Share </li>
            <li [class]="activeTab == 'Baraqah' ? 'tabs__tab active': 'tabs__tab '" (click)="setActiveTab('Baraqah')"> Baraqah </li>
        </ul>
        <div tabTitle="Charity" *ngIf="activeTab == 'Charity'">
            <app-charitytab (onTabClick)="setActiveTab($event)" (setCharity)="getCharity($event)" [selectedItem]="charity" ></app-charitytab>
        </div>
        <div tabTitle="Beloved" *ngIf="activeTab == 'Beloved'">
            <app-belovedtab [charity]="charity" [passAlive]="data" [passMemory]="data?.memory" (passAliveOnTab)="getAliveOnTag($event)"  (passMemoryOnTab)="getMemoryOnTab($event)" (onTabClick)="setActiveTab($event)" (OnCharityPass)="setCharity(charity)"></app-belovedtab>
        </div>
        <div tabTitle="Gift" *ngIf="activeTab == 'Gift'">
            <app-gifttab  (onTabClick)="setActiveTab($event)" [Gift]="data?.gift" (passGiftToTab)="getGiftTab($event)"></app-gifttab>
        </div>
        <div tabTitle="Share" *ngIf="activeTab == 'Share'">
            <app-sharetab [dataObj]="data" (onTabClick)="setActiveTab($event)" (passShareformData)="getShareformData($event)" (passOccasion)="getOccasion($event)"></app-sharetab>
        </div>
        <div tabTitle="Baraqah" *ngIf="activeTab == 'Baraqah'">
            <app-baraqahtab (onTabClick)="setActiveTab($event)" [data]="data" ></app-baraqahtab>
        </div>
    </div>
</div>