<div class="baraqah-tab-content">
    <div class="container">
        <div class="d-block mx-md-5 heading">
            Last step to baraqah
        </div>
        <!-- <div class="d-block mx-md-5 payment-form">
            <div class="form-group"
            ngxStripeCardGroup
            [formGroup]="stripeTest"
            [elementsOptions]="elementsOptions"
          >
            <input formControlName="name"  class="form-control"/>
            <input formControlName="amount"  class="form-control"/>
            <div class="form-control">
                <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
            </div>
            
            <ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry>
            <ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc>
            <button type="submit" (click)="pay()">
              PAY
            </button>
          </div>
        </div> -->
        <!-- <div>
            <div *ngFor="let content of content; let i = index" class="col-md-4 col-6 px-1 px-md-2 row" style="height: 150px;
            width: 150px;
            border-radius: 15px;" [class.active]="selectedItem == i">
                <div class="card flex-column align-items-center justify-content-center text-center p-1 p-md-2" [ngStyle]="{'background-color': content.bgcolor}">
                    <div class="flowar"><img src="assets/images/flowar.png" alt="" /></div>
                    <div class="d-block w-100 image">
                        <img src="{{content.image}}" alt={{content.name}} title={{content.name}} />
                    </div>
                    <div class="d-inline-block givenow">Give Now</div>
                </div>
                <div>
                    <div class="d-block w-100 name">{{content.name}}</div>
                </div>
            </div>
        </div> -->

        <div *ngFor="let cart of cart; let i = index" class="postcard-section mx-md-5 mb-md-5">
            <div class="postcard-box border-bottom">
                <div class="row justify-content-center align-items-center">
                    <div class="col-7 col-md-9">
                        <div class="postcard-content">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-4 col-md-3 text-center">
                                    <div class="postcard-image post"  [ngStyle]="{'background-color': cart}">
                                        <div class="flower-img"><img src="assets/images/flowar.png" alt="" /></div>
                                        <img src="{{cart.image}}" alt="" />
                                    </div>
                                </div>
                                <div class="col-8 col-md-9">
                                    <div class="postcard-text">{{cart.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-md-3">
                        <div class="priceing-section">
                            <input type="text" class="form-control priceing-form-control" placeholder="£1.99" value="{{cart.total == 1 ? cart.price : '£ '+cart.total.toFixed(2)}}" />
                            <div class="d-flex align-items-center justify-content-center count-box">
                                <button class="left-btn" (click)="onDelete(i)"><i class="fas fa-trash-alt"></i></button>
                                <input type="text" class="form-control count" placeholder="1" value={{cart.quantity}} />
                                <button class="right-btn" (click)="onAdd(i)"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

       
        <ngx-stripe-card-group class="d-block mx-md-5 payment-form"
        [formGroup]="stripeTest"
        [elementsOptions]="elementsOptions">
            <div class="form-group">
                <label>Your email</label>
                <input type="text" class="form-control" placeholder="johnsmith@hotmail.com" formControlName="email"/>
                <div class="invalid-feedback">
                    Please enter your email
                </div>
            </div>
            <div class="form-group">
                <label>Cardholders name <span>(as it appears on the card)</span></label>
                <input type="text" class="form-control" placeholder="John Smith" formControlName="name"/>
            </div>
            <div class="form-group">
                <label>Card number</label>
                <div class="form-control">
                    <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
                </div>
            </div>
            <div class="form-group form-row align-items-end">
                <div class="col-4">
                    <label>Expiry date</label>
                    <div class="form-control">
                        <ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry>
                    </div>
                </div>
                <!-- <div class="col-4">
                    <label></label>
                    <select class="custom-select form-control mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                    </select>
                </div> -->
                <div class="col-4">
                    <label>Security code</label>
                    <div class="form-control">
                        <ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc>
                    </div>
                </div>
            </div>
        </ngx-stripe-card-group>
        <div class="d-block mx-md-5">
            <app-baraqahaccordion></app-baraqahaccordion>
        </div>
    </div>
</div>
<div class="order-section">
    <div class="container">
        <div class="order-details">
            <div class="heading text-center">Your order details</div>
            <div class="details-box mx-md-5">
                <div class="detail-content">
                    <div class="head-content">
                        <div class="dispatch-text">
                            <p>Dispatch to &#58; <strong>Ali Shaan, 123 Main Road, Oldham, OL1 2BX</strong></p>
                        </div>
                        <div class="delivery-text">
                            <p>Dispatch to &#58; <strong>Royal Mail Signed For® 1st Class</strong></p>
                        </div>
                    </div>
                    <div class="body-content">
                        <ul>
                            <li><p>Gifts</p><span>£27.99</span></li>
                            <li><p>Delivery</p><span>£4.99</span></li>
                            <li><p>Donation</p><span>£10.00</span></li>
                            <li><p>Gift Aid</p><span>£2.50</span></li>
                        </ul>
                    </div>
                    <div class="footer-content">
                        <ul>
                            <li><p>Order Total </p><span>£59.99</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer text-center">
    <div class="container">
        <a class="btn btn-primary" routerLink="/thankyou">
            <span class="d-inline-block align-top pr-3" (click)="pay()">All Done</span>
        </a>
        <p class="d-block align-middle mt-2">By placing your order you agree to Share My Sadaqah’s Terms of Use</p>
    </div>
</div>