.baraqah-tab-content {
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    .heading {
        font-size: 28px;
        line-height: 32px;
        font-weight: 600;
        display: block;
        text-align: center;
        color: #333333;
        padding-bottom: 20px;
    }
    .postcard-section{
        display: block;
        .postcard-box{
            display: block;
            padding-bottom: 20px;
            margin-bottom: 20px;
            .postcard-content{
                .postcard-image{    
                    background: #E6557F;
                    border-radius: 10px;
                    height: 60px;
                    width: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.30);
                    -webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.30);
                    -moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.30);
                    img{
                        max-width: 70%;
                    }
                    .flower-img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 75%;
                        img{
                            width: 50%;
                        }
                    }
                }
                .postcard-text{
                    display: block;
                    padding-left: 10px;
                    font-size: 18px;
                    color: #000000;
                    font-weight: 600;
                }
            }
            .priceing-section{
                text-align: center;
                .priceing-form-control{
                    border: 1px solid #000000;
                    border-radius: 30px;
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 600;
                    color: #000000;
                    padding: 5px 10px;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 10px;
                    box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.30);
                    -webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.30);
                    -moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.30);

                }
                .count-box{
                    border: 1px solid #000000;
                    border-radius: 30px;
                    padding: 0px 10px;
                    box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.30);
                    -webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.30);
                    -moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.30);
                    .left-btn{
                        width: 24px;
                        height: 24px;
                        background-color: #E6557F;
                        text-align: center;
                        border-radius: 50%;
                        border: none;
                        i{
                            color: #fff;
                            line-height: 24px;
                            font-size: 12px;
                            vertical-align: top;
                        }
                    }
                    
                    .right-btn{
                        width: 24px;
                        height: 24px;
                        background-color: #E6557F;
                        text-align: center;
                        border-radius: 50%;
                        border: none;
                        i{
                            color: #fff;
                            line-height: 24px;
                            font-size: 12px;
                            vertical-align: top;
                        }
                    }
                    .count{
                        margin-bottom: 0;
                        line-height: 24px;
                        padding: 0;
                        font-size: 16px;
                        color: #000000;
                        border: none;
                        font-weight: 600;
                        text-align: center;
                        &:focus{
                            border: none;
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }
            }
            &.chocolates-box{
                .postcard-content{
                    .postcard-image{ 
                        background: #2D90CE;
                    }
                }
                .priceing-section{
                    .count-box{
                        .left-btn{
                            background: #2D90CE; 
                        }
                        .right-btn{
                            background: #2D90CE; 
                        }
                    }
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .payment-form {
        padding-top: 0px;
        .form-group {
            label {
                font-size: 14px;
                color: #58595B;
                font-weight: 600;
                padding-left: 5px;
                span {
                    font-size: 14px;
                    color: #58595B;
                    font-weight: 500;
                }
            }
            .form-control {
                padding-left: 15px;
                font-size: 16px;
                font-weight: 500;
                color: #999999;
                border-radius: 30px;
                border-color: #333333;
                height: 46px;
                padding: 23px;
            }
            .credit-icon {
                position: absolute;
                right: 18px;
                bottom: 15px;
                color: #999999;
            }
        }
    }
}
.order-section{
    background-color: #E6557F;
    padding: 40px 15px 40px 15px;
    .order-details{
        .heading{
            margin-bottom: 30px;
            font-size: 25px;
            line-height: 30px;
            color: #fff;
        }
        .details-box{
            padding: 25px 20px;
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.30);
            -webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.30);
            -moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.30);
            .detail-content{
                .head-content{
                    border-bottom: 1px solid #58595b4f;
                    padding-bottom: 30px;
                    .dispatch-text{
                        margin-bottom: 10px;
                        p{
                            color: #58595B;
                            font-size: 14px;
                            line-height: 20px;
                            margin-bottom: 0;
                            strong{
                                color: #000;
                            }
                        }
                    }
                    .delivery-text{
                        p{
                            color: #58595B;
                            font-size: 14px;
                            line-height: 20px;
                            margin-bottom: 0;
                            strong{
                                color: #E6557F;
                            }
                        }
                    }
                }
                .body-content{
                    padding-bottom: 30px;
                    padding-top: 30px;
                    border-bottom: 1px dashed #58595B;
                    ul{
                        display: block;
                        padding-left: 0;
                        li{
                            display: block;
                            list-style: none;
                            margin-bottom: 15px;
                            position: relative;
                            p{
                                display: inline-block;
                                color: #4D4D4D;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 20px;
                                margin-bottom: 0;
                                background-color: #ffffff;
                                position: relative;
                                z-index: 1;
                                padding-right: 10px;
                               
                            }
                            span{
                                float: right;
                                color: #4D4D4D;
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 20px;
                                margin-bottom: 0;
                                background-color: #ffffff;
                                position: relative;
                                z-index: 1;
                                padding-left: 10px;
                            }
                            &::after{
                                border: 1px solid #58595B;
                                opacity: 0.2;
                                content: "";
                                display: block;
                                position: absolute;
                                left: 0;
                                bottom: 7px;
                                width: 100%;
                            }
                        }
                    } 
                }
                .footer-content{
                    padding-top: 30px;
                    ul{
                        display: block;
                        padding-left: 0;
                        li{
                            display: block;
                            list-style: none;
                            p{
                                display: inline-block;
                                color: #E6557F;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 20px;
                                margin-bottom: 0;
                               
                               
                            }
                            span{
                                float: right;
                                color: #E6557F;
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 20px;
                                margin-bottom: 0;
                               
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
    .btn-primary {
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 10px;
        padding-right: 15px;
        line-height: 60px;
        height: 60px;
        background-color: #F79D11;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        border: none;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
        p {
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
}

@media (min-width: 992px) {
    .baraqah-tab-content {
        padding-top: 70px;
        .heading {
            padding-bottom: 70px;
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
        }

        .postcard-section{
            .postcard-box{
                .postcard-content{
                    .postcard-image{  
                        width: 150px;
                        height: 150px;
                        .flower-img{
                            width: 50%;
                        }
                    }
                    .postcard-text{
                        font-size: 24px;
                    }
                }
                .priceing-section{
                    .priceing-form-control{
                        height: 48px;
                    }
                    .count-box{
                        height: 48px; 
                        .left-btn{
                            width: 36px;
                            height: 36px;
                            i{
                                font-size: 16px;
                            }
                        }
                        .right-btn{
                            width: 36px;
                            height: 36px;
                            i{
                                font-size: 16px;
                            }
                        }
                        .count{
                            width: 136px;
                        }
                    }
                }
            }
        }

        .payment-form {
            .form-group {
                margin-bottom: 40px;
                label {
                    font-size: 20px;
                    padding-bottom: 10px;
                    span {
                        font-size: 16px;
                    }
                }
                .form-control {
                    padding-left: 30px;
                    font-size: 20px;
                    border-radius: 50px;
                    height: 70px;
                }
                .custom-select {
                    cursor: pointer;
                }
                .credit-icon {
                    right: 30px;
                    bottom: 20px;
                    font-size: 30px;
                }
            }
        }
    }
    .order-section{
        padding: 50px;
        .order-details{
            .heading{
                font-size: 40px;
                line-height: 45px;
            }
            .details-box{
                padding: 35px 30px;
                .detail-content{
                    .head-content{
                        .dispatch-text{
                            p{
                                font-size: 18px;
                                line-height: 24px;
                            }
                        }
                    }
                    .body-content{
                        ul{
                            li{
                                p{
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                                span{
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                            }
                        }
                    }
                    .footer-content{
                        ul{
                            li{
                                p{
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                                span{
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
        .btn-primary {
            width: 50%;
            font-size: 28px;
            line-height: 70px;
            height: 70px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            p {
                font-size: 20px;
                line-height: 24px;
                margin-top: -4px;
                margin-left: 10px;
            }
        }
    }
    .cart-loop{
        position: relative;
        margin-left: 3em;
        margin-right: 3em;
      
    }
}
