<div class="baraqah-tab-content">
    <div class="container">
        <div class="d-block mx-md-5 heading">
            Last step to baraqah
        </div>
        <!-- <div class="d-block mx-md-5 payment-form">
            <div class="form-group"
            ngxStripeCardGroup
            [formGroup]="stripeTest"
            [elementsOptions]="elementsOptions"
          >
            <input formControlName="name"  class="form-control"/>
            <input formControlName="amount"  class="form-control"/>
            <div class="form-control">
                <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
            </div>
            
            <ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry>
            <ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc>
            <button type="submit" (click)="pay()">
              PAY
            </button>
          </div>
        </div> -->
        <ngx-stripe-card-group class="d-block mx-md-5 payment-form"
        [formGroup]="stripeTest"
        [elementsOptions]="elementsOptions">
            <div class="form-group">
                <label>Your email</label>
                <input type="text" class="form-control" placeholder="johnsmith@hotmail.com" formControlName="email"/>
                <div class="invalid-feedback">
                    Please enter your email
                </div>
            </div>
            <div class="form-group">
                <label>Cardholders name <span>(as it appears on the card)</span></label>
                <input type="text" class="form-control" placeholder="John Smith" formControlName="name"/>
            </div>
            <div class="form-group">
                <label>Card number</label>
                <div class="form-control">
                    <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
                </div>
            </div>
            <div class="form-group form-row align-items-end">
                <div class="col-4">
                    <label>Expiry date</label>
                    <div class="form-control">
                        <ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry>
                    </div>
                </div>
                <!-- <div class="col-4">
                    <label></label>
                    <select class="custom-select form-control mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                    </select>
                </div> -->
                <div class="col-4">
                    <label>Security code</label>
                    <div class="form-control">
                        <ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc>
                    </div>
                </div>
            </div>
        </ngx-stripe-card-group>
        <div class="d-block mx-md-5">
            <app-baraqahaccordion></app-baraqahaccordion>
        </div>
    </div>
</div>
<div class="footer text-center">
    <div class="container">
        <a class="btn btn-primary" routerLink="/thankyou">
            <span class="d-inline-block align-top pr-3" (click)="pay()">Donate £10.50</span>
            <p class="d-inline-block align-middle">+ 2.50 <br /> Gift Aid</p>
        </a>
    </div>
</div>