<div class="d-block gift-boxs">
    <div class="d-flex flex-wrap">
        <div *ngFor="let content of content; let i = index" class="col-md-4 col-6 px-1 px-md-2" [class.active]="selectedItem == i" (click)="selectedItem=i">
            <div class="card flex-column align-items-center justify-content-center text-center p-1 p-md-2" [ngStyle]="{'background-color': content.bgcolor}">
                <div class="flowar"><img src="assets/images/flowar.png" alt="" /></div>
                <div class="d-block w-100 image">
                    <img src="{{content.image}}" alt={{content.name}} title={{content.name}} />
                </div>
                <div class="d-block w-100 name">{{content.name}}</div>
                <div class="d-inline-block givenow" (click)="open(giveNowModal,content)">Give Now £{{content.givenow}}</div>
                <ng-template #giveNowModal let-modal>
                    <div class="give-now-modal">
                        <div class="modal-header" [ngStyle]="{'background-color': content.bgcolor}">
                            <button class="close" (click)="modal.dismiss()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="d-block text-center">
                                <div class="d-inline-block image">
                                    <img src="{{content.image}}" alt={{content.name}} title={{content.name}} />
                                </div>
                                <div class="d-inline-block name">{{content.name}}</div>
                            </div>
                        </div>
                        <form [formGroup]="form" >

                        <div class="modal-body text-center">
                            <div class="d-block donation-amount">Quantity</div>
                            <div class="d-flex w-100 flex-wrap justify-content-center donation-amount-content">
                                <input class="form-control" type="number" placeholder="2"  name="quantity" required formControlName="quantity"  (blur)="OnQuantityBlur()">
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <button class="btn btn-primary btn-modal" type="submit" [ngStyle]="{'background-color': content.bgcolor}" (click)="modal.dismiss()">That's it</button>
                        </div>
                    </form>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>