.memory-content {
    padding-top: 30px;
    padding-bottom: 90px;
    .memory-boxs {
        .card {
            border: none;
            height: 153px;
            max-height: 153px;
            overflow: hidden;
            margin-bottom: 10px;
            border-radius: 15px;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            -webkit-box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            .check-icon {
                position: absolute;
                right: 10px;
                top: 10px;
                display: none;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                background-image: url(../../../../assets/images/check-icon.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
            .name {
                font-size: 18px;
                line-height: 24px;
                font-weight: 600;
                color: #ffffff;
            }
            .image {
                img {
                    max-height: 50px;
                }
            }
        }
        .active {
            .card {
                .check-icon {
                    display: block;
                }
            }
        }
        
    }
    .search-box {
        border: 1px solid #999999;
        width: 100%;
        border-radius: 30px;
        overflow: hidden;
        button {
            color: #999999;
            font-size: 18px;
            &:hover {
                color: #000000;
            }
        }
        .form-control {
            border: none;
            padding-left: 30px;
            font-size: 18px;
            font-weight: 500;
            color: #999999;
            &:focus {
                box-shadow: none;
            }
        }
    }

}

@media (min-width: 992px) {
    .memory-content {
        padding-top: 70px;
        padding-bottom: 40px;
        .memory-boxs {
            .card {
                height: 320px;
                max-height: 320px;
                margin-bottom: 15px;
                border-radius: 30px;
                -moz-border-radius: 30px;
                -webkit-border-radius: 30px;
                .name {
                    font-size: 32px;
                    line-height: 36px;
                }
                .image {
                    img {
                        max-height: 110px;
                    }
                }
                .check-icon {
                    width: 46px;
                    height: 46px;
                    right: 15px;
                    top: 15px;
                }
            }
        }
    }
    .search-box {
        width: 100%;
        border: 2px solid #999999;
        border-radius: 70px;
        button {
            font-size: 20px;
            width: 70px;
        }
        .form-control {
            font-weight: 500;
            font-size: 20px;
            height: 60px;
        }
    }
    .add-love{
    
        font-size: 25px !important;
        // line-height: 60px !important;
        height: 60px !important;
        text-align: center;
   
    }
  
}
.add-love{
    width: 100%;
    background-color: #2F90CE;
    color: #fff;
    font-size: 18px;
    // line-height: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
}