<div class="d-md-none d-block">
    <div class="slider">
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let content of content">
                <ng-template carouselSlide>
                    <div class="slide-inner" id={{content.id}}>
                        <div class="slide-image">
                            <img src={{content.image}} alt={{content.title}} title={{content.title}} />
                        </div>
                        <div class="slide-content">
                            <h4><span><img src={{content.icon}} alt={{content.title}} /></span> {{content.title}}</h4>
                            <strong>{{content.subtitle}}</strong>
                            <p>{{content.text}}</p>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>
<div class="d-none d-md-block">
    <div class="home-banners">
        <div class="container-fluid">
            <div class="banner" *ngFor="let content of content" id={{content.id}}>
                <div class="row">
                    <div class="col-6 px-0">
                        <div class="d-flex align-items-center justify-content-center flex-column w-100 h-100 p-5 content">
                            <h4 class="d-block w-100 px-5">
                                <span class="d-inline-block mr-2"><img src={{content.icon}} alt={{content.title}} /></span> {{content.title}}
                            </h4>
                            <strong class="d-block w-100 px-5">{{content.subtitle}}</strong>
                            <p class="d-block w-100 px-5">{{content.text}}</p>
                        </div>
                    </div>
                    <div class="col-6 px-0">
                        <div class="image">
                            <img src={{content.image}} alt={{content.title}} title={{content.title}} />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>