<!-- Header -->
<app-header></app-header>
<div class="content top-padding thankyou-content" role="main">
    <div class="d-block thankyou-section-top">
        <img src="assets/images/header-background-img.png" alt="" />
        <div class="container">
            <div class="d-block thankyou-inner text-center">
                <h2>Thank You</h2>
                <span>for sharing your sadaqah with mum.</span>
            </div>
            <div class="d-block thankyou-gift text-center"><img src="assets/images/sharing-img.png" alt="" /></div>
            <div class="d-block thankyou-content text-center">
                <p>Your gift e-card to</p>
                <h4 class="mb-0">Mahira Khan</h4>
            </div>
            <div class="d-block thankyou-content text-center">
                <p>Will be delivered</p>
                <h4 class="mb-0">Today</h4>
            </div>
        </div>
    </div>
    <div class="thankyou-section-middle">
        <div class="container">
            <div class="gift-box">
                <div>
                    <div class="flower"><img src="assets/images/flower-img.png" alt="" /></div>
                    <div class="d-block text-center">
                        <div class="water"><img src="assets/images/water-img.png" alt="" /></div>
                        <div class="gift-heading">Water</div>
                        <div class="gift-price">
                            <div class="icon"><img src="assets/images/human-img.png" alt="" /></div>
                            <div class="price-box">£15.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block text-center thankyou-section-bottom">
        <div class="container">
            <p class="d-block">Get more rewards and let your friends know about ShareMySadaqah</p>
            <ul class="d-block m-0 p-0">
                <li class="d-inline-block align-top px-2">
                    <a href="#"><i class="fa fa-whatsapp"></i></a>
                </li>
                <li class="d-inline-block align-top px-3">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="d-inline-block align-top px-2">
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>