<div class="baraqah-accordion">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="toggle-2">
        <ngb-panel id="toggle-1">
            <ng-template ngbPanelHeader>
                <div class="d-inline-block w-75 align-top">
                    <span class="d-block">Gift Aid</span>
                </div>
                <div class="d-inline-block w-25 align-top">
                    <button ngbPanelToggle class="btn"></button>
                    <div class="d-block onoffswitch-inner" [ngClass]="toggle1 ? 'active' : ''" (click)="clicktoggle1()">
                        <div class="position-absolute w-100 h-100" (click)="acc.toggle('toggle-1')"></div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="section">
                    <div class="gift-aid-content">
                        <p>If you are a UK taxpayer Muslim Aid could get £2.50 extra, at no cost to you.</p>
                        <p>You have applied Gift Aid to your donation.</p>
                        <div class="d-block w-50 text-left sin-img"><img src="assets/images/shine-img.png" alt=""></div>
                        <p>Gift Aid allows charities to claim an extra 25p from the UK government for every £1 you give.</p>
                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                            <label class="form-check-label" for="inlineFormCheck">I confirm I am a UK taxpayer and would like Muslim Aid to claim Gift Aid on this donation. I understand that if I pay less UK Income Tax and/or Capital Gains Tax in the current tax year than the amount of Gift Aid claimed on all my donations it is my responsibility to pay any difference.</label>
                        </div>
                        <p>For your charity to claim Gift Aid they will require</p>
                    </div>
                    <div class="address-section">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <select [ngClass]="{submit :submitted}" name="type" formControlName="type" class="custom-select form-control mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Mr</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                        </select>
                        </div>
                        <div class="form-group">
                            <input type="text" [ngClass]="{submit :submitted}" class="form-control" formControlName="fname" placeholder="First Name" />
                            <div *ngIf="!form.get('fname')?.valid && (form.get('fname')?.touched || form.get('fname')?.dirty) "
                            class="help-block">
                                <div  class="text-danger text-center" *ngIf="form.get('fname')!.errors!.required">
                                Please enter your first name!
                            </div>   
                          </div> 
                        </div>
                        <div class="form-group">
                            <input type="text"  [ngClass]="{submit :submitted}" class="form-control" formControlName="lname" placeholder="Last Name" />
                            <div *ngIf="!form.get('lname')?.valid && (form.get('lname')?.touched || form.get('lname')?.dirty) "
                            class="help-block">
                                <div  class="text-danger text-center" *ngIf="form.get('lname')!.errors!.required">
                                Please enter your last name!
                            </div>  
                        </div>
                        </div>
                        <div class="form-group">
                            <input type="text" [ngClass]="{submit :submitted}" class="form-control" formControlName="address" placeholder="Address" />
                            <div *ngIf="!form.get('address')?.valid && (form.get('address')?.touched || form.get('address')?.dirty) "
                            class="help-block">
                            <div  class="text-danger text-center" *ngIf="form.get('address')!.errors!.required">
                                Please enter your address name!
                            </div>  
                          </div>
                        </div>
                        <div class="form-group">
                            <input type="text" [ngClass]="{submit :submitted}" class="form-control" formControlName="city" placeholder="City" />
                            <div *ngIf="!form.get('city')?.valid && (form.get('city')?.touched || form.get('city')?.dirty) "
                            class="help-block">
                                <div  class="text-danger text-center" *ngIf="form.get('city')!.errors!.required">
                                Please enter your city name!
                            </div>  
                        </div>
                        </div>
                        <div class="form-group">
                            <input type="text" [ngClass]="{submit :submitted}" class="form-control"  formControlName="county" placeholder="County" />
                            <div *ngIf="!form.get('county')?.valid && (form.get('county')?.touched || form.get('county')?.dirty) "
                            class="help-block">
                                <div  class="text-danger text-center" *ngIf="form.get('county')!.errors!.required">
                                Please enter your county name!
                            </div>  
                        </div>
                        </div>
                        <div class="form-group mb-md-0">
                            <input type="text" [ngClass]="{submit :submitted}" class="form-control" formControlName="postcode" placeholder="Postcode" />
                            <div *ngIf="!form.get('postcode')?.valid && (form.get('postcode')?.touched || form.get('postcode')?.dirty) "
                            class="help-block">
                                <div  class="text-danger text-center" *ngIf="form.get('postcode')!.errors!.required">
                                Please enter your postcode name!
                            </div>  
                        </div>
                        </div>
                        <div class="text-center name-box">
                            <button class="btn btn-block btn-save">Save</button>
                        </div>
                        </form>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-2">
            <ng-template ngbPanelHeader>
                <div class="d-inline-block w-75 align-top">
                    <span class="d-block">Help Us Stay Free</span>
                    <p class="d-block">Keep ShareMySadaqah free for charities</p>
                </div>
                <div class="d-inline-block w-25 align-top">
                    <button ngbPanelToggle class="btn"></button>
                    <div class="d-block onoffswitch-inner" [ngClass]="toggle2 ? 'active' : ''" (click)="clicktoggle2()">
                        <div class="position-absolute w-100 h-100" (click)="acc.toggle('toggle-2')"></div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="section">
                    <p>Keep ShareMySadaqah free for charities</p>
                    <p>Help charities raise more. </p>
                    <p>Muslim Aid wasn’t charged a setup fee or any donation charges for using this amazing platform. Adding just a small amount means ShareMySadaqah can continue to provide more free services.</p>
                    <div class="d-flex w-100 text-center justify-content-start prices-box">
                        <div class="d-flex align-items-center text-center mx-1 price" *ngFor="let priceContent of priceContent; let i = index" [class.active]="selectedItem == i" (click)="selectedItem=i">
                            {{priceContent.price}}
                        </div>
                    </div>
                    <p>If you feel £0.60 is too much, kindly consider another amount that will help us help more charities. </p>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-3">
            <ng-template ngbPanelHeader>
                <div class="d-inline-block w-75 align-top">
                    <span class="d-block">I would like updates from ShareMySadaqah</span>
                    <p class="d-block">Stay posted on future causes you love.</p>
                </div>
                <div class="d-inline-block w-25 align-top">
                    <button ngbPanelToggle class="btn"></button>
                    <div class="d-block onoffswitch-inner" [ngClass]="toggle3 ? 'active' : ''" (click)="clicktoggle3()">
                        <div class="position-absolute w-100 h-100" (click)="acc.toggle('toggle-3')"></div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="section">
                    <p>Stay posted on future causes you love.</p>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-4">
            <ng-template ngbPanelHeader>
                <div class="d-inline-block w-75 align-top">
                    <span class="d-block">I would like to hear from Muslim Aid</span>
                    <p class="d-block">Learn more about the great work we do. </p>
                </div>
                <div class="d-inline-block w-25 align-top">
                    <button ngbPanelToggle class="btn"></button>
                    <div class="d-block onoffswitch-inner" [ngClass]="toggle4 ? 'active' : ''" (click)="clicktoggle4()">
                        <div class="position-absolute w-100 h-100" (click)="acc.toggle('toggle-4')"></div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="section">
                    <p>I would like to hear from Muslim Aid</p>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-5">
            <ng-template ngbPanelHeader>
                <div class="d-inline-block w-75 align-top">
                    <span class="d-block">I accept all the legal stuf</span>
                    <p class="d-block">Terms of Use.</p>
                </div>
                <div class="d-inline-block w-25 align-top">
                    <button ngbPanelToggle class="btn"></button>
                    <div class="d-block onoffswitch-inner" [ngClass]="toggle5 ? 'active' : ''" (click)="clicktoggle5()">
                        <div class="position-absolute w-100 h-100" (click)="acc.toggle('toggle-5')"></div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="section">
                    <p>I accept all the legal stuf</p>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>