<!-- Header -->
<app-header></app-header>

<div class="content top-padding home-content" role="main">
    <div class="home-slider">
        <app-slider></app-slider>
    </div>
    <div class="d-none d-md-block">
        <div class="home-gift-btn-container">
            <div class="container">
                <a class="btn btn-primary btn-gift" routerLink="/tabs">Give the gift of sadaqah</a>
            </div>
        </div>
    </div>
    <div class="watch-video-link"><a href="#"><span></span> Watch video</a> </div>
    <div class="container">
        <div class="d-block mx-md-5 px-md-5">
            <app-accordion></app-accordion>
        </div>
    </div>
</div>
<div class="home-footer">
    <div class="d-md-none d-block">
        <div class="home-gift-btn-container">
            <div class="container">
                <a class="btn btn-primary btn-gift" routerLink="/tabs">Give the gift of sadaqah</a>
            </div>
        </div>
    </div>
    <div class="home-powered-container">
        <div class="container">
            <p>Powered by <strong>Give Brite</strong></p>
            <p><a href="#">Terms of Use</a> • <a href="#">Privacy Policy</a></p>
        </div>
    </div>
</div>