<div class="home-accordion">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <div class="d-flex">FAQ’s</div>
            </ng-template>
            <ng-template ngbPanelContent>
                <strong>Lorem ipsum dolor tetuer elit.</strong>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                <strong>Lorem ipsum dolor sit amet elit.</strong>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <div class="d-flex">About</div>
            </ng-template>
            <ng-template ngbPanelContent>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                    ut aliquip ex ea commodo consequat. </p>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blanditf eugait nulla facilisi.</p>
                <strong>Get in touch</strong>
                <p class="phone-email"><strong><span><i class="fas fa-phone"></i></span> 0161 600 12 34</strong> <strong><span><i class="fas fa-envelope-open"></i></span> <a href="#">hello@loremipsum.com</a></strong></p>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <div class="d-flex">Help</div>
            </ng-template>
            <ng-template ngbPanelContent>
                <p>We're here to help. Raise a support ticket and we'll be in touch soon</p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name*" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email*" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control textarea" placeholder="How can we help you?*"></textarea>
                    </div>
                </form>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>