<div class="share-tab-content">
    <div>
        <ng-template #giftmodal let-modal>  
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title">Select Gift</h4>
                <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>would you like to add another item to your cart
                    <!-- <span class="text-primary">"John Doe"</span> profile?</strong></p>
                <p>All information associated to this user profile will be permanently deleted.
                <span class="text-danger">This operation can not be undone.</span> -->
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
                <button type="button" ngbAutofocus class="btn btn-choose-gift" (click)="modal.close('Save click')">Ok</button>
              </div>
          </ng-template>
          
    </div>

    <div class="heading">Share it with {{shareLove ? shareLove :''}}</div>
    <div class="d-block pb-2">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="container">
            <div class="d-block mx-md-auto w-md-50">
              <div>
                  <label>
                      <h4>
                        Recipients
                      </h4>
                  </label>
              </div>
                <div class="form-group name-box">
                    <input class="form-control" [ngClass]="{submit :submitted && !this.dataObj.memory}" placeholder="Enter recipients email" type="text" name="recipients_email" required formControlName="recipients_email"/>
                    <div *ngIf="!this.dataObj.memory && (!form.get('recipients_email')?.valid && (form.get('recipients_email')?.touched || form.get('recipients_email')?.dirty)) "
                    class="help-block">
                        <div  class="text-danger text-center" *ngIf="form.get('recipients_email')!.errors!.required">
                        Please enter recipients email!
                        </div> 
                        <div  class="text-danger text-center" *ngIf="form.get('recipients_email')!.errors!.email">
                            Please enter valid recipients email!
                        </div>     
                  </div> 
                </div>
                <div class="form-group name-box">
                    <input [ngClass]="{submit :submitted}" class="form-control" placeholder="Enter your full name" type="text" name="fname" required formControlName="fname"/>
                    <div *ngIf="!form.get('fname')?.valid && (form.get('fname')?.touched || form.get('fname')?.dirty) "
                    class="help-block">
                        <div  class="text-danger text-center" *ngIf="form.get('fname')!.errors!.required">
                        Please enter your full name!
                        </div>   
                  </div> 
                    
                </div>
                <div>
                    <label>
                        <h4>
                            Senders
                        </h4>
                    </label>
                </div>
                <div class="form-group name-box">
                    <input [ngClass]="{submit :submitted}" class="form-control" placeholder="Enter your senders email" type="text" name="senders_email" required formControlName="senders_email"/>
                    <div *ngIf="!form.get('senders_email')?.valid && (form.get('senders_email')?.touched || form.get('senders_email')?.dirty) "
                    class="help-block">
                        <div  class="text-danger text-center" *ngIf="form.get('senders_email')!.errors!.required">
                        Please enter senders email!
                        </div>  
                        <div  class="text-danger text-center" *ngIf="form.get('senders_email')!.errors!.email">
                            Please enter valid senders email!
                        </div>     
                  </div>   
                </div>
               
                <div class="form-group name-box">
                    <input [ngClass]="{submit :submitted}" class="form-control" placeholder="Enter your senders full name" type="text" name="senders_fname" required formControlName="senders_fname"/>
                    <div *ngIf="!form.get('senders_fname')?.valid && (form.get('senders_fname')?.touched || form.get('senders_fname')?.dirty) "
                    class="help-block">
                        <div  class="text-danger text-center" *ngIf="form.get('senders_fname')!.errors!.required">
                        Please enter your senders full name!
                        </div>   
                  </div> 
                </div>
                <div class="form-group name-box">
                    <input [ngClass]="{submit :submitted}" class="form-control" placeholder="Enter your confirm email" type="text" name="confirm_email" required formControlName="confirm_email"/>
                    <div *ngIf="!form.get('confirm_email')?.valid && (form.get('confirm_email')?.touched || form.get('confirm_email')?.dirty) "
                    class="help-block">
                        <div  class="text-danger text-center" *ngIf="form.get('confirm_email')!.errors!.required">
                        Please enter confirm email!
                        </div>  
                        <div  class="text-danger text-center" *ngIf="form.get('confirm_email')!.errors!.email">
                            Please enter valid confirm email!
                        </div>     
                  </div>   
                </div>
                <div class="form-group name-box">
                    <input [ngClass]="{submit :submitted}" class="form-control" placeholder="Enter your password" type="text" name="password" required formControlName="password"/>
                    <div class="text-danger text-center" *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)">Please enter your Password!</div>

                </div>
                <div class="form-group name-box">
                    <input  [ngClass]="{submit :submitted}" class="form-control" placeholder="Enter your confirm password" type="text" name="confirm_password" required formControlName="confirm_password"/>
                    <div class="text-danger text-center"  *ngIf="!form.controls.confirm_password.hasError('notEquivalent') && form.controls.confirm_password.invalid && (form.controls.confirm_password.dirty || form.controls.confirm_password.touched)">Please enter your confirm password!</div>
                    <div class="text-danger text-center"  *ngIf="form.controls.confirm_password.hasError('notEquivalent')">Password & Confirm password does not match!</div>
               
                </div>
                <div class="text-center name-box">
                    <button class="btn btn-block btn-save">Save</button>
                </div>
            </div>
        </div>
        </form>
        
    </div>


    <div class="share-gift-box">
        <div class="container">
            <div class="d-block px-2">
                <div class="box" [ngStyle]="{'background-color': giftData?.bgcolor}">
                    <div class="flower"><img src="assets/images/flower-img.png" alt="" /></div>
                    <div class="water text-center d-block"><img src={{giftData.image}} alt="" /></div>
                    <div class="heading text-center d-block">{{giftData.name}}</div>
                    <div class="price-box text-center d-block">
                        <div class="icon d-inline-block"><img src="assets/images/human-img.png" alt="" /></div>
                        <!-- <div class="price d-inline-block">£15.00</div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="occasion-box">
        <div class="container">
            <div class="d-block mx-md-auto w-md-50">
                <div class="occasion-heading">
                    What is the occasion?
                </div>
                <div class="occasion-buttons">
             <form [formGroup]="occasion">

                    <div class="row">
                        <div class="col-6 pr-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="occasion" id="Birthday" (click)="onAddOtherShare('option1')" formControlName="occasion"  value="option1">
                                <label class="form-check-label" for="Birthday">
                                    Birthday
                                </label>
                            </div>
                        </div>
                        <div class="col-6 pl-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="occasion" id="NewBorn" (click)="onAddOtherShare('option2')" formControlName="occasion" value="option2">
                                <label class="form-check-label" for="NewBorn"> 
                                    New Born
                                </label>
                            </div>
                        </div>
                        <div class="col-6 pr-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="occasion" id="ANewJob" (click)="onAddOtherShare('option3')" formControlName="occasion" value="option3">
                                <label class="form-check-label" for="ANewJob">
                                    A New Job
                                </label>
                            </div>
                        </div>
                        <div class="col-6 pl-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="occasion" id="GoodHealth" (click)="onAddOtherShare('option4')" formControlName="occasion" value="option4">
                                <label class="form-check-label" for="GoodHealth">
                                    Good Health
                                </label>
                                <h1></h1>
                            </div>
                        </div>
                    </div>
                    <div class="select-button" *ngIf="otherButton">
                        <div class="browser-default select-other" (click)="addOtherShare()">
                           Other
                        </div>
                    </div>
                    <div *ngIf="!otherButton">
                        <div class="row">
                            <div class="col-9">                             
                                <div class="d-block search-box">
                                    <div class="input-group">
                                        <input class="form-control price-input" placeholder="Enter your occasion" type="text" name="occasion" required formControlName="occasion">                                                     
                                    </div> 
                                </div>
                                    <div>
                                        <span *ngIf="!occasion.get('occasion')?.valid && (occasion.get('occasion')?.touched || occasion.get('occasion')?.dirty) "
                                        class="help-block">
                                            <span  class="text-danger" *ngIf="occasion.get('occasion')!.errors!.required">
                                            Please enter occasion!
                                            </span>     
                                        </span>  
                                    </div>
                                
                            </div>
                            <div class="col-3">
                                <button class="btn add-love" type="submit" [disabled]="!occasion.valid" (click)="onAddOtherShare('other')">Add</button>
                            </div>
                        </div>                  
                    </div> 
            </form>
                </div>
            </div>
        </div>
    </div>
    <div class="personal-box">
        <div class="container">
            <div class="d-block mx-md-auto w-md-50">
                <div class="box">
                    <div class="form-group">
                        <label>Add a personal message or du’a</label>
                        <textarea class="form-control" placeholder="Happy Birthday! Hope you have a lovely day. May Allah give you good health and prosperity. See you soon insha’Allah."></textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="anonymous">
        <div class="container">
            <div class="d-block mx-md-auto w-md-50">
                <div class="form-check pl-0">
                    <input class="form-check-input" type="checkbox" id="StayAnonymous">
                    <label class="form-check-label" for="StayAnonymous">Stay anonymous. Shussssh… give in secret!</label>
                </div>
            </div>
        </div>
    </div>
    <div class="choose-gif-container">
        <div class="container">
            <div class="d-block mx-md-auto w-md-75">
                <div class="heading">
                    Choose a gift
                </div>
                <div class="d-block gift-boxs">
                    <div class="d-flex flex-wrap">
                        <div *ngFor="let content of content; let i = index" class="col-md-4 col-6 px-1 px-md-2" [class.active]="selectedItem == i" (click)="selectedGiftItem(i,content)">
                            <div class="card flex-column align-items-center justify-content-center text-center p-2" (click)="open(giftmodal)" [ngStyle]="{'background-color': content.bgcolor}">
                                <div class="flowar"><img src="assets/images/flowar.png" alt=""/></div>
                                <div class="d-block w-100 image">
                                    <img src="{{content.image}}" alt={{content.name}} title={{content.name}} />
                                </div>
                                <div class="d-block w-100 name">{{content.name}}</div>
                                <div class="d-inline-block givenow">{{content.price}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="choose-container" [class.active]="selectedItem == 0">
        <div class="container">
            <div class="d-block mx-md-auto w-md-50 text-md-center">
                <strong>When do you want your personalised gift <br />e-card delivered?</strong>
            </div>
            <div class="d-block mx-md-auto w-md-50">
                <div class="choose-text" [class.active]="selectedToday == 0" (click)="selectedToday=0">Today</div>
                <form class="form-inline">
                    <div class="form-group w-100">
                        <div class="input-group w-100">
                            <input class="form-control" placeholder="Choose a date" name="dp" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fas fa-calendar-week"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="dvelivery-option-container" [class.active]="selectedItem == 1">
        <div class="container">
            <div class="d-block mx-md-auto w-md-75">
                <div class="heading">
                    Delivery option
                </div>
            </div>
            <div class="d-block mx-md-auto w-md-75">
                <div class="d-block dvelivery-option-boxs">
                    <div class="row">
                        <div *ngFor="let dveliveryContent of dveliveryContent; let i = index" class="col-12" (click)="dveliverySelectedItem=i" [ngClass]="{active : dveliverySelectedItem === i}">
                            <div class="card p-3">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <strong>{{dveliveryContent.name}}</strong>
                                        <p>{{dveliveryContent.text}}</p>
                                    </div>
                                    <div class="col-3">
                                        <div class="price">
                                            £{{dveliveryContent.price}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="footer" role="Footer">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center footer-buttons">
            <button class="btn btn-primary btn-help"><span><i class="fa fa-question-circle"></i></span> Help</button>
            <button class="btn btn-primary btn-back" (click)="goToBackStep()"><span><i class="fa fa-chevron-circle-left"></i></span> Back</button>
            <button class="btn btn-primary btn-good" (click)="goToNextStep()">Go <span><i class="fa fa-chevron-circle-right"></i></span></button>
        </div>
    </div>
</div>