<div class="share-tab-content">
    <div class="heading">Share it with {{shareLove ? shareLove :''}}</div>
    <div class="d-block pb-2">
        <form [formGroup]="form">

        <div class="container">
            <div class="d-block mx-md-auto w-md-50">
              <div>
                  <label>
                      <h4>
                        Recipients
                      </h4>
                  </label>
              </div>
                <div class="form-group name-box">
                    <input class="form-control" placeholder="Enter recipients email" type="text" name="recipients_email" required formControlName="recipients_email"/>
                    <span *ngIf="!form.get('recipients_email')?.valid && (form.get('recipients_email')?.touched || form.get('recipients_email')?.dirty) "
                    class="help-block">
                        <span  class="text-danger" *ngIf="form.get('recipients_email')!.errors!.required">
                        Please enter recipients email!
                        </span> 
                        <span  class="text-danger" *ngIf="form.get('recipients_email')!.errors!.email">
                            Please enter valid recipients email!
                        </span>     
                  </span> 
                </div>
                <div class="form-group name-box">
                    <input class="form-control" placeholder="Enter your full name" type="text" name="fname" required formControlName="fname"/>
                    <span *ngIf="!form.get('fname')?.valid && (form.get('fname')?.touched || form.get('fname')?.dirty) "
                    class="help-block">
                        <span  class="text-danger" *ngIf="form.get('fname')!.errors!.required">
                        Please enter your full name!
                        </span>   
                  </span> 
                    
                </div>
                <div>
                    <label>
                        <h4>
                            Senders
                        </h4>
                    </label>
                </div>
                <div class="form-group name-box">
                    <input class="form-control" placeholder="Enter your senders email" type="text" name="senders_email" required formControlName="senders_email"/>
                    <span *ngIf="!form.get('senders_email')?.valid && (form.get('senders_email')?.touched || form.get('senders_email')?.dirty) "
                    class="help-block">
                        <span  class="text-danger" *ngIf="form.get('senders_email')!.errors!.required">
                        Please enter senders email!
                        </span>  
                        <span  class="text-danger" *ngIf="form.get('senders_email')!.errors!.email">
                            Please enter valid senders email!
                        </span>     
                  </span>   
                </div>
               
                <div class="form-group name-box">
                    <input class="form-control" placeholder="Enter your senders full name" type="text" name="senders_fname" required formControlName="senders_fname"/>
                    <span *ngIf="!form.get('senders_fname')?.valid && (form.get('senders_fname')?.touched || form.get('senders_fname')?.dirty) "
                    class="help-block">
                        <span  class="text-danger" *ngIf="form.get('senders_fname')!.errors!.required">
                        Please enter your senders full name!
                        </span>   
                  </span> 
                </div>
                <div class="form-group name-box">
                    <input class="form-control" placeholder="Enter your confirm email" type="text" name="confirm_email" required formControlName="confirm_email"/>
                    <span *ngIf="!form.get('confirm_email')?.valid && (form.get('confirm_email')?.touched || form.get('confirm_email')?.dirty) "
                    class="help-block">
                        <span  class="text-danger" *ngIf="form.get('confirm_email')!.errors!.required">
                        Please enter confirm email!
                        </span>  
                        <span  class="text-danger" *ngIf="form.get('confirm_email')!.errors!.email">
                            Please enter valid confirm email!
                        </span>     
                  </span>   
                </div>
                <div class="form-group name-box">
                    <input class="form-control" placeholder="Enter your password" type="text" name="password" required formControlName="password"/>
                </div>
                <div class="form-group name-box">
                    <input class="form-control" placeholder="Enter your confirm password" type="text" name="confirm_password" required formControlName="confirm_password"/>
                </div>
                <div class="text-center name-box">
                    <button class="btn btn-save">Save</button>
                </div>
            </div>
        </div>
        </form>
        
    </div>


    <div class="share-gift-box">
        <div class="container">
            <div class="d-block px-2">
                <div class="box">
                    <div class="flower"><img src="assets/images/flower-img.png" alt="" /></div>
                    <div class="water text-center d-block"><img src="assets/images/water-img.png" alt="" /></div>
                    <div class="heading text-center d-block">Water</div>
                    <div class="price-box text-center d-block">
                        <div class="icon d-inline-block"><img src="assets/images/human-img.png" alt="" /></div>
                        <!-- <div class="price d-inline-block">£15.00</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="occasion-box">
        <div class="container">
            <div class="d-block mx-md-auto w-md-50">
                <div class="occasion-heading">
                    What is the occasion?
                </div>
                <div class="occasion-buttons">
                    <div class="row">
                        <div class="col-6 pr-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radios" id="Birthday" value="option1" checked>
                                <label class="form-check-label" for="Birthday">
                                    Birthday
                                </label>
                            </div>
                        </div>
                        <div class="col-6 pl-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radios" id="NewBorn" value="option2">
                                <label class="form-check-label" for="NewBorn">
                                    New Born
                                </label>
                            </div>
                        </div>
                        <div class="col-6 pr-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radios" id="ANewJob" value="option3">
                                <label class="form-check-label" for="ANewJob">
                                    A New Job
                                </label>
                            </div>
                        </div>
                        <div class="col-6 pl-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radios" id="GoodHealth" value="option4">
                                <label class="form-check-label" for="GoodHealth">
                                    Good Health
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="select-button">
                        <select class="browser-default select-other">
                            <option selected>Other</option>
                            <option value="Sample Option 1">Sample Option 1</option>
                            <option value="Sample Option 2">Sample Option 2</option>
                            <option value="Sample Option 3">Sample Option 3</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="personal-box">
        <div class="container">
            <div class="d-block mx-md-auto w-md-50">
                <div class="box">
                    <div class="form-group">
                        <label>Add a personal message or du’a</label>
                        <textarea class="form-control" placeholder="Happy Birthday! Hope you have a lovely day. May Allah give you good health and prosperity. See you soon insha’Allah."></textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="anonymous">
        <div class="container">
            <div class="d-block mx-md-auto w-md-50">
                <div class="form-check pl-0">
                    <input class="form-check-input" type="checkbox" id="StayAnonymous">
                    <label class="form-check-label" for="StayAnonymous">Stay anonymous. Shussssh… give in secret!</label>
                </div>
            </div>
        </div>
    </div>
    <div class="choose-gif-container">
        <div class="container">
            <div class="d-block mx-md-auto w-md-75">
                <div class="heading">
                    Choose a gift
                </div>
                <div class="d-block gift-boxs">
                    <div class="d-flex flex-wrap">
                        <div *ngFor="let content of content; let i = index" class="col-md-4 col-6 px-1 px-md-2" [class.active]="selectedItem == i" (click)="selectedItem=i">
                            <div class="card flex-column align-items-center justify-content-center text-center p-2" [ngStyle]="{'background-color': content.bgcolor}">
                                <div class="flowar"><img src="assets/images/flowar.png" alt="" /></div>
                                <div class="d-block w-100 image">
                                    <img src="{{content.image}}" alt={{content.name}} title={{content.name}} />
                                </div>
                                <div class="d-block w-100 name">{{content.name}}</div>
                                <div class="d-inline-block givenow">{{content.price}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="choose-container" [class.active]="selectedItem == 0">
        <div class="container">
            <div class="d-block mx-md-auto w-md-50 text-md-center">
                <strong>When do you want your personalised gift <br />e-card delivered?</strong>
            </div>
            <div class="d-block mx-md-auto w-md-50">
                <div class="choose-text" [class.active]="selectedToday == 0" (click)="selectedToday=0">Today</div>
                <form class="form-inline">
                    <div class="form-group w-100">
                        <div class="input-group w-100">
                            <input class="form-control" placeholder="Choose a date" name="dp" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fas fa-calendar-week"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="dvelivery-option-container" [class.active]="selectedItem == 1">
        <div class="container">
            <div class="d-block mx-md-auto w-md-75">
                <div class="heading">
                    Delivery option
                </div>
            </div>
            <div class="d-block mx-md-auto w-md-75">
                <div class="d-block dvelivery-option-boxs">
                    <div class="row">
                        <div *ngFor="let dveliveryContent of dveliveryContent; let i = index" class="col-12" (click)="dveliverySelectedItem=i" [ngClass]="{active : dveliverySelectedItem === i}">
                            <div class="card p-3">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <strong>{{dveliveryContent.name}}</strong>
                                        <p>{{dveliveryContent.text}}</p>
                                    </div>
                                    <div class="col-3">
                                        <div class="price">
                                            £{{dveliveryContent.price}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="footer" role="Footer">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center footer-buttons">
            <button class="btn btn-primary btn-help"><span><i class="fa fa-question-circle"></i></span> Help</button>
            <button class="btn btn-primary btn-back" (click)="goToBackStep()"><span><i class="fa fa-chevron-circle-left"></i></span> Back</button>
            <button class="btn btn-primary btn-good" (click)="goToNextStep()">Go <span><i class="fa fa-chevron-circle-right"></i></span></button>
        </div>
    </div>
</div>